<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.GeoAPI" version="1.7.4.3" targetFramework="net46" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net46" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5-pre020" targetFramework="net46" />
  <package id="GeoAPI.Core" version="1.7.5-pre020" targetFramework="net46" />
  <package id="MapSurfer.NET.Core" version="2.6" targetFramework="net46" />
  <package id="MapSurfer.NET.Samples" version="2.6" targetFramework="net46" />
  <package id="MapSurfer.NET.UI" version="2.6" targetFramework="net46" />
  <package id="Proj.NET" version="1.2" targetFramework="net46" />
</packages>